.modal {
  background-color: #2a2d32;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #009156;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  width: 300px;
}

.imgContainer {
  height: 200px;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pTitle {
  font-size: 20px;
  color: #009156;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.p {
  color: #f0f0f0;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    max-width: 768px;
  }

  .modal {
    width: 650px;
  }

  .imgContainer {
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    max-width: 950px;
  }

  .modal {
    width: 1050px;
  }

  .imgContainer {
    height: 550px;
  }
}
